body{
    background-color: black;
    color: white;
    height: 637px;
    
}
                            /*Header*/
                    
                        /*nav bar header*/

.header{
    background-color: yellowgreen;
    opacity: 0.7;
}
 
.header ul li{
    display: inline-block;
    padding: 5px;
}

.header ul li a{
    color: red;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em; 
}   
                            
                                    /* Partie Section */

section h1{                      /* Titre shopping cart*/
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5em;
    margin: 15px;
}                 

section h2{                      /* Titre shopping list */
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 2em;
    padding-left: 5px;  
    padding-bottom: 0px; 
}

.nav-bar-shoppingList ul{          /*Nav bar shopping List*/
    color: red;
    display: flex;
    padding: 15px;
    margin: 0px;
   
}

.nav-bar-shoppingList ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.object{                        /* Body de l'objet */
    width: 98%; 
    position: relative;                     
    left: 1%;
    right: 1%;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
}

.object div:nth-of-type(1) {flex-grow: 0;}    /* l'espace occupé par la flexbox 1 de l'objet */
.object div:nth-of-type(2) {flex-grow: 0;}    /* l'espace occupé par la flexbox 2 de l'objet */
.object div:nth-of-type(3) {flex-grow: 0;}  /* l'espace occupé par la flexbox 3 de l'objet */
.object div:nth-of-type(4) {flex-grow: 0.2;}    /* l'espace occupé par la flexbox 4 de l'objet */
.object div:nth-of-type(5) {flex-grow: 0.5;}    /* l'espace occupé par la flexbox 5 de l'objet */
.object div:nth-of-type(6) {flex-grow: 0;}    /* l'espace occupé par la flexbox 6 de l'objet */


.object-heart{                   /* Les likes de l'objet*/
    margin: 7px;
}

.object-title{                   /* Titre de l'objet */
    text-align: center;
    width: 26%;
}

.object-buttons-count {          /* body de la partie compteur + - */
    outline: 2px dashed #ffd700;
    margin: 7px;
    display: flex;
    justify-content: space-between;
    animation: 1s animateBorder infinite;
}

@keyframes animateBorder {       /* Animation compteur border de l'objet */
    to {
      outline-color: red;
    }
}

.btn-warning{                           /* boutons + - de l'objet*/
    width: 25px;
    height: 25px;   
    padding: 1px;
    margin: 1px;
}

.form-control{                  /* text du compteur de l'objet*/
    font-size: 15px;
    width: 35px;
    height: 25px;
    padding: 8px;
    margin: 1px;
}
   
.object-description{             /* body de la Partie features de l'objet */
    width: 25%;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}



.object-img img{  
    border: 1px grey solid;              /* Image de l'objet */
    width: 120px;
    height: 95px;
}

.object-list-features{          /* Text descriptif de l'objet*/
    display: none;
}

.btn-outline-warning{
    margin: 4%;
}

.object-price{                  /*le prix de l'objet*/                 
    text-align: center;
    width: 5%;
}

.total-price{                   /* Prix total */
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-top: 0px;
    border-style: solid;
    border-color: grey;
    position: relative;
    left: 74%;
    width: 25%;
    padding: 0.5%;
    margin-bottom: 3%;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

                        /*Piede de page*/
.footer{
    text-align: center;
    font-size: 20px;
    color: red;
    background-color: yellowgreen;
    opacity: 0.7;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    width: 1300px;
}     

.footer p{
    margin: 0px;  
}
                                   
                                 /* CSS pour le JS*/

.bi-heart-fill.fill{          /*Coeur se remplit*/
    fill: red;
}

.object-list-features.visible{          /* Text descriptif de l'objet*/
    display: inline-block;
    font-size: 15px;
}
